.logon-container {
    width: 100%;
    max-width: 1200px;
    
    margin: 60px auto;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logon-container section.form {
    width: 100%;
    max-width: 350px;
    margin-right: 30px;
  }
  
  .logon-container section.form img {
    width: 100%;
    max-width: 250px;
  }
  
  .logon-container section.form form {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
  }
  
  .logon-container section.form form input {
    width: 100%;
    max-width: 300px;
    height: 42px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 6px;
    padding: 0 24px;
    margin-top: 8px;
  }
  
  .logon-container section.form form button {
    width: 100%;
    max-width: 300px;
    height: 40px;
    background: #23231f;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    margin-top: 16px;
    text-decoration: none;
    font-size: 18px;
    transition: filter 0.9s;
  }
  
  .logon-container section.form form button:hover {
    filter: brightness(90%);
  }
  
  .logon-container section.form form a{
      margin-top: 12px;
      text-decoration: none;
      font-size: 18px;
      
  }
  
  .logon-container section.form form h1 {
    font-size: 32px;
    margin-bottom: 32px;
  }
  