.headercss {
  background: #6b7a8f;
  height: 66px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 0 26px;
}

.header-logo a{
  text-decoration: none;
  color: #fff;
  font-size: 26px;
  font-weight: bold;
}

.header-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-menu a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  margin-left: 8px;
}

.header-menu a+a {
  margin-left: 16px;
}